<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2">Editing Post</h2>
        <hr>
        <%= render 'form', post: @post %>

        <div class="field is-pulled-right py-2">
          <%= link_to 'Show', @post, class: 'button small is-primary' %>
          <%= link_to 'Back', posts_path, class: 'button small is-success' %>
        </div>

      </div>
    </div>
  </div>
</div>
