/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Color palettes
 *  Max Blue + Wild Blue Yonder + Cameo Pink Pastel Color Palette
 *  Hex Codes: #d4afb9 // #d1cfe2 // #9cadce // #7ec4cf // #52b2cf
 *  
 *  Pastel Pink + Pale Pink + Snow White Pastel Color Palette
 *  Hex Codes: #d3ab9e // #eac9c1 // #ebd8d0 // #fffbff // #fefeff
 *
 *  Alice Blue + Lavender Web + Baby Blue Eyes Pastel Color Palette
 *  Hex Codes: #edf2fb // #d7e3fc // #ccdbfd // #c1d3fe // #abc4ff
 */

 @import "bulma";

 html, body {
   background-color: #d7e3fc;
 }

 nav.navbar {
   background-color: #7ec4cf;
 }

 .navbar-brand .title {
   color: white;
   text-shadow: 1px 1px 1px grey;
 }

//  round images
.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: -8px;
}

span.error {
  color: red;
}
