/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Color palettes
 *  Max Blue + Wild Blue Yonder + Cameo Pink Pastel Color Palette
 *  Hex Codes: #d4afb9 // #d1cfe2 // #9cadce // #7ec4cf // #52b2cf
 *  
 *  Pastel Pink + Pale Pink + Snow White Pastel Color Palette
 *  Hex Codes: #d3ab9e // #eac9c1 // #ebd8d0 // #fffbff // #fefeff
 *
 *  Alice Blue + Lavender Web + Baby Blue Eyes Pastel Color Palette
 *  Hex Codes: #edf2fb // #d7e3fc // #ccdbfd // #c1d3fe // #abc4ff
 */

@import "bulma";

html {
  background-size: cover;
}

body {
  height: 100%;

  .wrapper {
    background-color: #d7e3fc;
  }

  nav.navbar {
    background-color: #7ec4cf;
  }
  
  header.card-header {
    background-color: #7ec4cf;
  }
}

.wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body.light {
  .wrapper {
    background-color: #d7e3fc;
  }

  nav.navbar {
    background-color: #7ec4cf;
  }
  
  header.card-header {
    background-color: #7ec4cf;
  }
}

body.dark {
  .wrapper {
    background-color: #393a3b;
  }
   
  nav.navbar {
    background: rgb(252,147,69);
    background: linear-gradient(336deg, rgba(252,147,69,1) 0%, rgba(228,106,146,1) 50%, rgba(169,95,179,1) 100%); 
  }
  
  header.card-header {
    background-color: #ca65a1;
  }

  .subtitle {
    color: #3c3d3e;
  }

  p, label, .title  {
    color: rgb(255, 250, 250);
  }

  a {
    color: rgb(211, 211, 211);
  }
  
  a:hover {
    color: #f0f0f0;
    background-color: transparent;
    text-decoration: underline;
  }
}

.navbar-brand .title {
  color: #222324;
  text-shadow: 0px 0px 1px gray;
}

//  round images
.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: -8px;
}

.notification {  
  transition: all 0.4s linear;
}

.fading {
  opacity: 0;
  transform: translateY(-30px);
}

span.error {
  color: red;
}

a:visited {
  color: initial;
}

.card-icon, .post-header-link, .link {
  color: #363636;
}

#showPostSubtitle {
  color: #393a3b;
}

#showPostSubtitle:hover {
  color: #363636;
  background-color: transparent;
  text-decoration: underline;
}

.card-icon:hover, .post-header-link:hover, .link:hover {
  background-color: transparent;
  color: #393a3b;
}

.post-header-link:hover {
  text-decoration: underline;
}
