/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Color palettes
 *  Max Blue + Wild Blue Yonder + Cameo Pink Pastel Color Palette
 *  Hex Codes: #d4afb9 // #d1cfe2 // #9cadce // #7ec4cf // #52b2cf
 *  
 *  Pastel Pink + Pale Pink + Snow White Pastel Color Palette
 *  Hex Codes: #d3ab9e // #eac9c1 // #ebd8d0 // #fffbff // #fefeff
 *
 *  Alice Blue + Lavender Web + Baby Blue Eyes Pastel Color Palette
 *  Hex Codes: #edf2fb // #d7e3fc // #ccdbfd // #c1d3fe // #abc4ff
 */

@import "bulma";

html {
  background-size: cover;
  overflow: hidden;
}

// Default rules outside of dark/light modes
body {
  height: 100%;

  .wrapper {
    background-color: #d7e3fc;
  }

  nav.navbar {
    background-color: #7ec4cf;
  }
  
  header.card-header {
    background-color: #7ec4cf;
  }
}

// Wraps entire site to ensure background takes up full page
.wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//  round images
.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.title:hover {
  text-decoration: underline;
}
